body
{
	background-color: lightgray;
}
.background
{
	background-color: #563D7C;
	min-height: 200px;
	margin-bottom: 20px;
}
.grid
{
	background-color: #E6CCD5;
	min-height: 50px;
	border: 1px solid black;
	margin: 5px 0;
}
.dis1p
{
	background-color: #6666FF;
	border: 2px solid black;
	border-radius: 10px;
	margin:25px auto;
}
.dis4p
{
	display: inline;
	background-color: #66B2FF;
	border: 2px solid black;
	border-radius: 10px;
}
p
{
	margin: 10px 0;
}